/* Hide an Element */
#hideAndSeek {
  border: solid black 2px;
  text-align: center;
  display: none;
  font-size: 36px;
}

@media only screen and (max-width: 600px) {
  #hideAndSeek {
    display: flex;
    justify-content: center;
  }
}
